<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
    
    <body>
  		<div class="container">
        
	        <h3 th:text="'Detalle de Pokemon'"></h3>
        
			<a th:href="@{/}" class="btn btn-info">
				<i class="fa fa-home" aria-hidden="true"></i>
				&nbsp;Regresar
			</a>
			
			<!-- pokemon -->
			<div class="row justify-content-md-center align-items-center">			
				<div class="card" style="width: 16rem;">
				  <img class="card-img-top p-3"  th:alt="@{${pokemonSelected.id}}" th:src="@{'https://unpkg.com/pokeapi-sprites@2.0.2
			              		/sprites/pokemon/other/dream-world/' + ${pokemonSelected.id} + '.svg'}">
			      
				  <div class="card-body">
				    <h5 class="card-title" th:text="'#'+ ${pokemonSelected.id} + ' - ' + ${pokemonSelected.name}"></h5>
					  <p class="card-text" th:text="'Peso: ' + ${pokemonSelected.weight}+'kg, ' + ${pokemonSelected.description}"></p>
				  </div>
				</div>
			</div>
			
			<hr/>
			
			<h3 th:text="'Evoluciones:'"></h3>
			
	      	<div class="table-responsive" th:if="${ not#lists.isEmpty(listPokemon)}">
	          <table class="table  table-striped">
	            <thead>            
		            <tr>
		              <th scope="col"></th>
		              <th scope="col">Id</th>
		              <th scope="col">Nombre</th>
		              <th scope="col">Peso</th>
		              <th scope="col">Acción</th>
		            </tr>
	            </thead>
	            
	            <tbody>
		            <tr th:each="pokemon : ${listPokemon}">
		              <td>
		              	<img style="width: 34px;" title="" th:alt="@{${pokemon.id}}" th:src="@{'https://unpkg.com/pokeapi-sprites@2.0.2
		              		/sprites/pokemon/other/dream-world/'+ ${pokemon.id} + '.svg'}">
		              	
		              </td>
		              <td scope="row" th:text="${pokemon.id}"></td>
		              <td th:text="${pokemon.name}"></td>
		              <td th:text="${pokemon.weight}+'kg'"></td>
		              <td> 
		              	<a th:href="@{${pokemon.id}}" class="btn btn-success"> 
		              		<i class="fa fa-arrow-circle-o-left"></i>
		              		&nbsp;Detalle
		              	</a>
		              </td>             
		            </tr>
	            </tbody>            
	          </table>


		</div> <!-- table -->
      </div>   <!-- container -->
    </body>
</html>
	          