<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
    
    <body>
  		<div class="container">
        
	        <h3 th:text="'Pokemón´s'"></h3>
			
			<hr/>
			      
			
	      	<div class="table-responsive" th:if="${ not#lists.isEmpty(listPokemon)}">
	          <table class="table  table-striped">
	            <thead>            
		            <tr>
		              <th scope="col"></th>
		              <th scope="col">Id</th>
		              <th scope="col">Nombre</th>
		              <th scope="col">Peso</th>
		              <th scope="col">Tipo</th>
		              <th scope="col">habilidades</th>
		              <th scope="col">Acción</th>
		            </tr>
	            </thead>
	            
	            <tbody>
		            <tr th:each="pokemon : ${listPokemon}">
		              <td>
		              	<img style="width: 34px;" th:alt="@{${pokemon.id}}" th:src="@{'https://unpkg.com/pokeapi-sprites@2.0.2
		              		/sprites/pokemon/other/dream-world/'+ ${pokemon.id} +'.svg'}">
		              	
		              </td>
		              <td scope="row" th:text="${pokemon.id}"></td>
		              <td th:text="${pokemon.name}"></td>
		              <td th:text="${pokemon.weight}+'kg'"></td>
		              <td th:text="${pokemon.types}"></td>
		              <td th:text="${pokemon.abilities}"></td>
		              <td> 
		              	<a th:href="@{${pokemon.id}}" class="btn btn-success"> 
		              		<i class="fa fa-arrow-circle-o-left"></i>
		              		&nbsp;Detalle
		              	</a>
		              </td>             
		            </tr>
	            </tbody>            
	          </table>
	          
	          
	          
	        <!--  pagination  -->
			<nav aria-label="Page navigation">
			  <ul class="pagination justify-content-center">
			    
			    <li class="page-item" th:classappend="${pageable.isPrevious} ? disabled">
			      <a class="page-link" th:href="@{ /(currPage=0) }" th:text="'<<'"></a>
			    </li>
			    			    
			    <li class="page-item" th:classappend="${pageable.isPrevious} ? disabled">
			      <a class="page-link"
			      	th:if="${!pageable.isPrevious}" 
			      	th:href="@{ /(currPage=${pageable.currentPage-1}) }">Previous</a>
			    </li>			    
			    
			    
			    <li class="page-item" th:classappend="(${pageNumber == pageable.currentPage} ? active)" 
			    	th:each="pageNumber : ${#numbers.sequence(
			    		pageable.currentPage-4 < 0 ? 0 : pageable.currentPage-4, 
			    		pageable.currentPage+4 > pageable.totalPages ? pageable.totalPages : pageable.currentPage+4)}">
			    	<a	class="page-link" th:href="@{/(currPage=${pageNumber})}" th:text=${pageNumber+1}>
			    		<span class="sr-only" th:if="pageNumber==pageable.currentPage">(current)</span>
			    	</a>
			    </li>			    
			    
			    <li class="page-item" th:classappend="${pageable.isNext} ? disabled">
			      <a class="page-link"
			      	th:if="${!pageable.isNext}" 
			      	th:href="@{ /(currPage=${pageable.currentPage+1}) }">Next</a>
			    </li>

			    <li class="page-item" th:classappend="${pageable.isNext} ? disabled">
			      <a class="page-link" th:href="@{ /(currPage=${pageable.totalPages}) }" th:text="'>>'"></a>
			    </li>
			    			  
			  </ul>
			</nav>

		</div> <!-- table-->
      </div> <!-- container -->
    </body>
</html>

